* {	
  font:"Quicksand";
  font-family:sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {
	background-color:bisque;
}

.banner {
  background-color: orange;
  text-align:left;
}
.bannerBtn {
  position:absolute;
  right:20px;
}
.loginBtn {
  top:70px;
}
.welcome{
  height: 300px;
  width:450px;
  text-align: center;	
  margin:auto;
  padding-top: 100px;
}
h1 {
  font:"Quicksand";
  font-family:sans-serif;
}
p {
  font:"Quicksand";
  font-family:sans-serif;
}